body {
    /* overflow: hidden; */
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
}

.nav-link {
    transition: all 0.2s;
    position: relative;
}

.nav-link::after {
    content: '';
    transition: all 0.2s;
    position: absolute;
    height: 2px;
    width: 100%;
    opacity: 0;
    bottom: 0;
    left: 0;
    background-color: #111;
}
.nav-link:hover::after {
    opacity: 1;
}
